/* border color */
.border-color {
  border-color: #0277bd;
}

/* background color */
.light-bg, .btn.light-bg:hover {
  background-color: #0277bd;
}

/* background color - darken */
.dark-bg, .btn.dark-bg:hover {
  background-color: #01579b;
}

/* text color */
.text-color {
  color: #01579b;
}