/* border color */
.border-color {
  border-color: #283593;
}

/* background color */
.light-bg, .btn.light-bg:hover {
  background-color: #283593;
}

/* background color - darken */
.dark-bg, .btn.dark-bg:hover {
  background-color: #1a237e;
}

/* text color */
.text-color {
  color: #1a237e;
}